.center {
    margin: auto;
    width: 50%;
    border: 3px solid darkgreen;
    padding: 10px;
    background-color: white;
}

body {
    background-color: honeydew;
}

#console {
    border: 2px double black;
    min-height: 20em;
    padding-left: 4px;
    background-size: cover;
}

h1 {
    margin-top: 4px;
    margin-bottom: 8px;
    text-decoration: underline;
}

.night{
    background-color: darkblue;
}

.day{
    background-color: yellow;
}